<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{question.text}}">
  <ion-content class="padding">
    <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->
    <div class="card">
      <div class="item item-text-wrap" ng-repeat="answer in question.answers">
        {{answer.text}}
      </div>
    </div>

    <h2>Write a answer</h2>
    
    <label class="item item-input">
      <textarea id="answerText" ng-model="questionText" placeholder="Comments" rows="8"></textarea>
    </label>

    <div class="row">
        <button ng-click="sendAnswer()" class="button button-block button-positive">Send Answer</button>
  
    </div>
  </ion-content>
</ion-view>
