<ion-view view-title="Ask">
  <ion-content class="padding">

    <h2>Write a question...</h2>
    
    <label class="item item-input">
      <textarea id="questionText" ng-model="questionText" placeholder="Comments" rows="15"></textarea>
    </label>

    <div class="row">

      <div class="col col-50"> 
        <button class="button button-block button-stable">Cancel</button>
      </div>

      <div class="col col-50"> 
        <button ng-click="askQuestion()" class="button button-block button-positive">Ask</button>
      </div>
  
    </div>

  </ion-content>
</ion-view>
